.usersList {
  background-color: #fff;
  padding: 0 20px;

  &__header {
    box-sizing: border-box;
    position: sticky;
    top: 0;
    left: 0;
    height: 80px;
    padding: 15px 0;
    background-color: #fff;
  }

  &__content {
    padding: 10px 0 30px;
  }
}