.user {
  position: relative;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;

  &:hover {
    transform: scale(1.02);
    transform-origin: top left;
    transition: transform .2s;
    cursor: pointer;
  }
  
  &__data {
    display: flex;
  }

  &__image {
    flex: 0 0 72px;
    height: 72px;
    overflow: hidden;

    img {
      width: 75px;
      height: 75px;
      object-fit: cover;
    }
  }

  &__info {
    margin-left: 1rem;
    flex: 1 0 150px;

    &__name {
      text-transform: capitalize;
    }
  }
}
* + .user {
  margin-top: 1rem;
}